.RadioGroup {
  display: flex;
  gap: 0.625rem;
  width: 100%;
}
.RadioButton {
  &__label{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.RadioGroup.horizontal {
  flex-direction: row !important;
  align-items: center;
  .customRadioButton {
    width: 100%;
  }
}
